<!-- templates/portfolio.html -->
{% extends "base.html" %}

{% block title %}Portfolio{% endblock %}

{% block content %}
<h2 class="mb-4">Portföy</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Hisse</th>
            <th>Adet</th>
            <th>Mevcut Fiyat</th>
            <th>Toplam Değer</th>
        </tr>
    </thead>
    <tbody>
        {% for stock in portfolio %}
        <tr>
            <td>{{ stock.symbol }}</td>
            <td>{{ stock.quantity }}</td>
            <td>{{ stock.current_price }}</td>
            <td>{{ stock.total_value }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
